<!DOCTYPE html>
<html lang="en"> <!-- Изменить язык -->
    {% include 'html_config/_head.html' %}
    
    <body>
        <div class="page-wrapper">
            {% include 'html_parts/_main-header.html' %}

            <main class="main">
                {% block page_content %}

                {% endblock %}
            </main>
            <!-- /.main -->

            {% include 'html_parts/_main-footer.html' %}
        </div>
        <!-- /.page-wrapper -->

        {% block page_end %}

        {% endblock %}
    </body>
</html>