@font-face {
	font-family: SaarSPDemo;
	font-display: swap;
	src: url("../fonts/SaarSPDemo.woff2") format("woff2"), url("../fonts/SaarSPDemo.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
