@import "layout/main-header";
@import "fonts-files";

* {
    box-sizing: border-box;
}

body {
    background: #532424;
    font-family: SaarSPDemo, sans-serif;
}

h1 {
    font-size: 60px;
}

.container {
    display: flex;
}